.root {
  max-width: 1140px;
  margin: 0 auto;

  .recipes__title {
    margin-top: 39px;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 30.62px;
  }

  .recipes__container {
    display: flex;
    justify-content: center;
  }

  .recipes__list {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    flex-wrap: wrap;
  }

  @media (max-width: 1130px) {
    .recipes__list {
      justify-content: center;
      gap: 25px;
    }

    .recipes__title {
        font-size: 22px;
        padding: 20px;
        margin-top: 20px;
    }
  }

  @media (max-width: 980px) {
    .recipes__list {
      justify-content: center;
    }
  }

  @media (max-width: 600px) {
    .title__container{
        display: flex;
        justify-content: center;
    }
  }


}

