.root {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  font-family: "Space Grotesk", serif;
  color: #1f1d1b;

  .cuisine__title {
    margin-top: 60px;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 30.62px;
  }

  .cuisines__container {
    display: flex;
  }

  .cuisines {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    padding: 12px 0;
  }

  .cuisine__container {
    display: flex;
    gap: 26px;
    align-items: center;
    max-width: 195px;
    width: 100%;
  }

  .cuisine__name {
    font-size: 18px;
    color: #1f1d1b;
    line-height: 100%;
    font-weight: 500;
  }

  .cuisine__photo {
    object-fit: cover;
    border-radius: 16px;
    max-width: 76px;
    width: 100%;
    height: 76px;
    min-width: 76px;
  }

  @media (max-width: 1130px) {
    .cuisine__title {
      font-size: 22px;
        padding: 20px;
        margin-top: 20px;
    }

    .cuisines__container {
      display: flex;
      justify-content: center;
    }

    .cuisines {
      padding: 0 20px;
      display: flex;
     justify-content: space-evenly;
    }
  }
}
